# ~/.local/share/applications/hyprconf.desktop
[Desktop Entry]
Type=Application
Name=Waybar Style
Exec=kitty -e /home/rasberry/Scripts/waybarstyle.sh
Icon=/home/rasberry/Pictures/icons/terminal.svg
Terminal=false
Categories=Utility;
