# ~/.local/share/applications/hyprconf.desktop
[Desktop Entry]
Type=Application
Name=Waybar Config
Exec=kitty -e /home/rasberry/Scripts/waybarconfig.sh
Icon=/home/rasberry/Pictures/icons/terminal.svg
Terminal=false
Categories=Utility;
